header {
    background-image: url(https://i2.wp.com/i.imgur.com/juaqGEr.jpg?w=525);

   background-repeat: repeat-x;
text-align-last: center;
}





body {
background-image: url();
    background-color: blanchedalmond;
}