.contenedor_padre{
    display: grid;
    border: solid 1px red;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 300px 100px;
    /* grid-gap: 5px; */
    grid-template-areas: 
    "header header header header"
    "aside aside . nav"
    "footer footer footer footer";
    
    
}
.contenedor_padre div{
    border: solid 1px blue;
    margin: 5px;
}

.caja1{
    /* grid-column-start: 1; */
    /* grid-column-end: 4 */
    grid-area: header;
}

.caja2{
    grid-area: aside;

}
.caja3{
    grid-area: nav;
}
.caja4{
    grid-area: footer;
}